[submodule "themes/puppet"]
	path = themes/puppet
	url = https://github.com/roninro/hugo-theme-puppet.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
